#win-animation {
  position: fixed;       /* reste collé à la fenêtre */
  top: 0;
  left: 0;
  width: 100vw;          /* largeur totale */
  height: 100vh;         /* hauteur totale */
  pointer-events: none;  /* ne bloque pas les clics sur le jeu */
  display: none;         /* caché par défaut */
  z-index: 9999;         /* au-dessus de tout */
}

.shadow-dance-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 5px 5px 0 #FF00FF, 10px 10px 0 #00FFFF;
    animation: shadow-dance 2s infinite;
}

@keyframes shadow-dance {
    0%, 100% {
        text-shadow: 5px 5px 0 #FF00FF, 10px 10px 0 #00FFFF;
    }
    50% {
        text-shadow: -5px -5px 0 #00FFFF, -10px -10px 0 #ff005e;
    }
}
