
body {
  font-family: 'VT323', monospace;
}

.title {
  font-size: 150px;
  color: #00FFFF;
  text-shadow: 0 0 5px #FF00FF, 0 0 10px #00FFFF;
  text-align: center;
}

.img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 700px;
}

.cell {
    font-size: 40px;
    border-radius: 8px;
    color: #00FFFF;
    box-shadow: 0 0 10px #00FFFF, 0 0 20px #FF00FF;
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Press Start 2P', monospace;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 9.5em);
    grid-template-rows: repeat(4, 9.5em);
    gap: 1em;
    justify-content: center;
    background-color: transparent;
    width: fit-content;
    margin: auto;
    padding: 1em;
    border-radius: 20px;
    border: 2px solid #FF00FF;
    box-shadow: 0 0 20px #FF00FF, 0 0 10px #00FFFF;
}

.button {
  flex: 1;
  max-width: 290px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 2px solid #FF00FF;
  border-radius: 10px;
  box-shadow: 0 0 10px #FF00FF;
  margin: 20px;
  font-size: 44px;
  text-transform: uppercase;
  color: #00FFFF;
  background-color: transparent;
  font-family: 'VT323', monospace;
}

.button_powerUp {
  flex: 1;
  max-width: 290px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 2px solid #FF00FF;
  border-radius: 10px;
  box-shadow: 0 0 10px #FF00FF;
  margin: 20px;
  font-size: 44px;
  text-transform: uppercase;
  color: #00FFFF;
  background-color: #FF00FF;
  font-family: 'VT323', monospace;
}

.disabledbtn {
  opacity: 0.6;
  cursor: not-allowed;
}

.buttons_row {
  display: flex;
  gap: 30px;
  margin: 80px;
  justify-content: center;
}

.score_box {
  flex: 1;
  max-width: 290px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 2px solid #FF00FF;
  border-radius: 10px;
  box-shadow: 0 0 10px #FF00FF;
  color: #00FFFF;
  margin: 20px;
}

.label {
  font-size: 54px;
  text-transform: uppercase;
  color: #FF00FF;
}

.value {
  font-size: 44px;
  color: #00FFFF;
}
